{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='{% static "style.css" %}'>
    <title>Tugas 6</title>
</head>

<body>
    <div class="container">
        <div class="row gap">
            <div class="col">
                <h2 class="tengahin-benda">Halo, apa kabar?</h2>
            </div>
        </div>
        <div class="row gap">
            <div class="col">
                <form action="" method="POST">
                    {% csrf_token %} {{ form }}
                    <div class="gap">
                        <input type="submit" class='btn btn-primary' value="Input" name="inputan">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        {% for kabar in status %}
        <div class="row gap">
            <div class="col">
                <div class="semuaStatus">
                    <div>
                        <p class="overflow-wrap word-break"> Status Anda : {{ kabar.status }}</p>
                    </div>
                    <div>
                        <p class="overflow-wrap word-break">Waktu Postingan : {{ kabar.date }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>