{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <link rel='stylesheet' href='{% static "story7.css" %}' />
    <title>Tugas 7</title>
</head>

<body theme="Terang" name="body">
    <div class="row">
        <div class="col">
            <h2>Halo! Saya Muhammad Luthfi Idrus</h2>
        </div>
        <div class="col background-ganti-warna">
            <div class="titik" id="tema1" name="tema1"></div>
            <div class="titik" id="tema2" name="tema2"></div>
        </div>
    </div>

    <p class="description">
        Berikut adalah deskripsi kecil mengenai saya.
    </p>

    <ul class="accordion">
        <li>
            <a class="toggle" href="javascript:void(0);" name="toggle1">Aktivitas Saat Ini</a>
            <ul class="inner">
                <li>- Belajar dan fokus kepada akademis</li>
                <li>- Bekerja sebagai <i>Photographer</i> dan <i>Videographer</i></li>
            </ul>
        </li>

        <li>
            <a class="toggle" href="javascript:void(0);" name="toggle2">Pengalaman Organisasi</a>
            <ul class="inner">
                <li>- DPM Fasilkom UI</li>
            </ul>
        </li>

        <li>
            <a class="toggle" href="javascript:void(0);" name="toggle3">Pengalaman Kepanitiaan</a>
            <ul class="inner">
                <li>- Belum ada</li>
            </ul>
        </li>
    </ul>
    <script src="{% static 'advancestyle.js' %}"></script>
</body>

</html>