body {
    background-image: url("/static/background.png");
    background-size: cover;
}

.tengah {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar {
    width: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}