@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300,400,600');
[theme="Terang"] {
    --first-color: #ffffff;
    --second-color: #000000;
}

[theme="Gelap"] {
    --first-color: #000000;
    --second-color: #ffffff;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 1.1em;
    margin: 1em 0;
}

.description {
    margin: 1em auto 2.25em;
}

body {
    width: 40%;
    min-width: 300px;
    max-width: 400px;
    margin: 1.5em auto;
    background-color: var(--first-color);
    color: var(--second-color);
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 2.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.inner {
    padding-left: 1em;
    overflow: hidden;
    display: none;
}

.inner .show {
    display: block;
}

li {
    margin: .5em 0;
}

.toggle {
    width: 100%;
    display: block;
    background: var(--second-color);
    color: var(--first-color);
    padding: .75em;
    border-radius: 0.15em;
    transition: background .3s ease;
}

.titik {
    margin: 0 0.2rem 0 0.2rem;
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

#tema1 {
    background-color: #f8f9fb;
}

#tema2 {
    background-color: #353a40;
}

.background-ganti-warna {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}