body {
    background-image: url("/static/background.png");
    background-size: cover;
}

.gap {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tengahin-benda {
    display: flex;
    justify-content: center;
    align-items: center;
}

.semuaStatus {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.overflow-wrap {
    overflow-wrap: break-word;
}

.word-break {
    word-break: break-all;
}